{%extends "layout.html"%}

{% block nav %}
<button  class="btn btn-primary" id="btn-signIn">Logout</button>
{%endblock%}

{%block body%}
<div class="card">
  <div class="card-header">
    <h3>The details of the book you are rating</h3>
  </div>
  <div class="card-body">

      <div class="">
        <label for="title">Title                            :</label>
        <output name="title">{{book.title}}</output>
      </div>
      <div class="">
        <label for="author">Author                          :</label>
        <output name="author">{{book.author}}</output>
      </div>
      <div class="">
        <label for="publicationYear">Year of Publication    :</label>
        <output name="year">{{book.year}}</output>
      </div>
      <div class="">
        <label for="isbn">ISBN number                       :</label>
        <output name="isbn">{{book.isbn}}</output>
      </div>
      <div class="">
        <label for="usersReview">Other Users Average Review :</label>
        <output name="usersReview"></output>
      </div>
      <hr>
      <div class="">
        <label for="bookId">Book Id:</label>
        <output name="bookId">{{book.id}}</output>
      </div>
      <hr>

      <!-- Book rating section -->
       <h3>Review the above book below</h3>
      <!-- Rating on a scale of 1 to 5. -->
   <form class="" action="{{url_for('review', book_id=book.id)}}">
     <div class="form-group">
       <label for="bookId">Book Id:</label>
       <input class="form-control" name="book_id" value="{{book.id}}">
     </div>
      <div class="form-group">
        <input  type="radio" name="rating" value="1"> 1 point
        <input  type="radio" name="rating" value="2"> 2 points
        <input  type="radio" name="rating" value="3"> 3 points
        <input  type="radio" name="rating" value="4"> 4 points
        <input type="radio" name="rating" value="5"> 5 points
      </div>

      <!-- Writen Comment of the user -->

      <textarea class="form-control" name="comment" rows="8" cols="100" placeholder="Write a brief comment about the book."></textarea>


      <button type="submit" name="button" class="btn btn-primary" id="btn-rating">Submit Rating</button>

    </form>

 </div>
</div>

{%endblock%}
