{%extends "layout.html"%}

{%block nav%}
<button class="btn btn-primary" id="btn-signIn">Logout</button>
{%endblock%}

{%block body%}
<div class="card" id="goodreadsCard">
  <h5 class="card-header">Here is a review for the book form the Goodraeds web site</h5>
  <div class="">
    <label for="AverageRating">Average Rating     :</label>
    <output name="title">{{average_rating}}</output>
  </div>
  <div class="">
    <label for="AverageRating">Number of reviews :</label>
    <output name="title">{{number_of_rating}}</output>
  </div>

  <div class="card-body">


  </div>

</div>
{%endblock%}
