{%extends "layout.html"%}

{%block nav%}
<button class="btn btn-primary" id="btn-signIn">Logout</button>
{%endblock%}

{%block body%}
<div class="card" id="goodreadsCard">
  <h3 class="card-header">Goodraeds Review Data</h3>
  <div class="">
    <label for="title">Title</label>
    <output name="title"></output>
  </div>
  <div class="">
    <label for="AverageRating">Average Rating;</label>
    <output name="title">{{avgRating}}</output>
  </div>

  <div class="card-body">


  </div>

</div>
{%endblock%}
