{%extends "layout.html"%}

{%block nav%}
  <form class="form-inline" action="{{url_for('index')}}">
     <button type="submit"  class="btn btn-primary" id="btn-signIn">Logout</button>
  </form>
{%endblock%}

{%block body%}
<!-- Search section -->
<div class="search">
  <h1 id="h1-search">Search for a the book you want to rate.</h1>
  <form class="" action="" method="post">
      <input type="text" name="searchContent" class="form-control " value="" placeholder="Enter the title, ISBN number or the name of the author...">
      <button type="submit" name="button" class="btn btn-primary">Search</button>
  </form>
</div>

<hr>

<!-- Results section. -->
<div class="choices" id="choices">
  <h3 id="h3-search">Select your book of choice from this drop down menu</h3>

  <form class="" action="{{url_for('books')}}" method="post">
    <select class="form-control" name="book" placeholder="Selet a book from your search result...">
      <!-- Set value as book_id -->
     {% for book in books%}
        <option value="{{book.id}}">{{book.title}} by {{book.author}} published in {{book.year}}</option>
      {% endfor %}
    </select>
    <button type="submit" name="button"  class="btn btn-primary" >Rate This Book</button>
  </form>
</div>



{%endblock%}
